{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "plugins": [
        "jquery"
    ],
    "rules": {
        "no-debugger": 0,
        "no-console": 0,
        "new-cap": 0,
        "strict": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "eol-last": 0,
        "quotes": [2, "single"]
    }
}