doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap
            include includes/_header
            section.content
                article.article
                aside.sidebar
            include includes/_footer