html, body{
    -webkit-overflow-scrolling: touch
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $black;
}


.wrap {
    overflow: hidden;
    min-width: 320px;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select,
button {
    outline: none;
}

button {
    cursor: pointer;
}