head
    meta(charset="UTF-8")
    title= title
    //- PWA meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='format-detection', content='telephone=no')
    //- Og meta
    meta(property='og:title', content=title)
    meta(property='og:description', content=descr)
    meta(property='og:type', content='website')
    meta(property='og:image', content='http://' + domain +'/android-chrome-256x256.png')
    //- Favicon (realfavicongenerator.net)

    //- Styles
    link(rel="stylesheet", href="./css/app.css")