mixin icon(name, size, color, viewbox)
    svg(xmlns='http://www.w3.org/2000/svg' width=size[0] height=size[1] viewbox=viewbox ? "0 0 " + viewbox[0] + " " + viewbox[1] : "")
        use(fill='#' + color, xlink:href='#' + name)

svg(style="display:none")
    defs
        