#menu.off-canvas.position-right.nav_mobile(data-off-canvas data-transition="overlap" data-auto-focus="false")
    +menu('vertical')
    button.close-button(aria-label='Закрыть', type='button', data-close)
        span(aria-hidden='true') ×