block const
    -
        const title  = 'Project';
        const descr  = 'Description';
        const domain = 'subdomain.salex.pro'
//- Components
//- include components/_menu

doctype html
html(lang="ru")
    include sections/_head
    body
        //- include components/_icons
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
                include sections/_footer
            //- include components/_popup
        //- include components/_offcanvas
        block js
            script(src="./js/app.min.js")