block const
doctype html
html(lang="ru")
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include components/_header
            block content
            include components/_footer
        include components/_offcanvas