footer.footer
//- script(src="./bower_components/jquery/dist/jquery.min.js")
//- script(src="./bower_components/foundation-sites/dist/js/plugins/foundation.core.min.js")
//- script(src="./bower_components/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.min.js")
script(src="./js/app.js")